body {
  margin: 0;
  padding: 0;
  background: #2d3999;
}

.box {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.box .b {
 
  border-radius: 50%;
  border-left: 4px solid;
  border-right: 4px solid;
  border-top: 4px solid transparent !important;
  border-bottom: 4px solid transparent !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ro 2s infinite;
}

@keyframes ro {
  0% {
    transform: translate(-50%,-50%) rotate(0deg);
  }
  50% {
    transform: translate(-50%,-50%) rotate(-180deg);
  }
  0% {
    transform: translate(-50%,-50%) rotate(0deg);
  }

}



.box .b1 {
  border-color: #ebbb91;
  width: 120px;
  height: 120px;
}

.box .b2 {
  border-color: #9a1ba0;
  width: 100px;
  height: 100px;
  animation-delay: .2s;
}

.box .b3 {
  border-color: #f08181;
  width: 80px;
  height: 80px;
  animation-delay: .4s;
}

.box .b4 {
  border-color: #76b39d;
  width: 60px;
  height: 60px;
  animation-delay: .6s;
}